{% extends 'base.html' %}

{% block style %}
    <style>
        .errorlist {
            color: red;
            list-style-type: none;
            margin-block-start: 1em;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
            padding-inline-start: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h3>{{ heading }}</h3>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div id="form_set">
            {% for form in formset.forms %}
                {{ form.non_field_errors }}
                <table class='no_error'>
                    {{ form }}
                </table><br>
            {% endfor %}
        </div>
        <input type="button" value="Add More" id="add_more">
        <input type="button" value="Remove" id="remove">
        <input type="submit" value="Submit">
    </form>
    <div id="empty_form" style="display:none">
        <table class='no_error'>
            {{ formset.empty_form }}
        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#add_more').click(function () {
            var $totalForm = $('#id_form-TOTAL_FORMS');
            var totalCount = $totalForm.val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, totalCount));
            $totalForm.val(parseInt(totalCount) + 1);
        });

        $('#remove').click(function () {
            var $totalForm = $('#id_form-TOTAL_FORMS');
            var totalCount = $totalForm.val();
            var initalCount = $('#id_form-INITIAL_FORMS').val();
            var result = parseInt(totalCount) - 1
            if (result >= initalCount) {
                $totalForm.val(result);
                $('#form_set .no_error:last').remove();
            }
        });

        $("#form_set input[name$='-pub_date']").datepicker().each(function () {
            $(this).attr('autocomplete', 'off')
        })
    </script>
{% endblock %}