{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}FormSet Demo{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}

    <script src="{% static 'js/jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.12.1/jquery-ui-datepicker-zh-CN.js' %}"></script>
    {% block script %}{% endblock %}
</div>
</body>
</html>
